@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.document-container {
  background: #fff;
  /* font-size: 0px; */
}
.document-container.a4 {
  height: 1168px !important;
  max-width: 827px !important;
  width: 827px !important;
}
/* .document-container a {
  color: #000;
} */
.document-container.pages {
  background: none;
}

.pages {
  margin-top: -50px !important;
  padding-top: 50px !important;
}

.header {
  font-size: large;
  font-weight:bold;
}

.title {
  /* font-size: base; */
  font-weight: bold;
}

.desc {
  font-size: small;
  line-height: 1.2;
}
